<!DOCTYPE html>
<html>
    <head>
        <%- include('cdn') %>
    </head>
    <body>
        <div class="container-fluid" style="height:100%">
          <div class="main-block d-flex" style="height:100vh;">
            <div class="left-side h-100 d-inline-block w-15">
                <div class="spotify-brand">
                  <div class="d-flex">
                    <div class="logo-img">
                      <img src="/images/spotify-logo.png" class="img-responsive">
                    </div>
                    <div class="logo-title">Spotify</div>
                  </div>
                  <div class="spotify-menu my-3 px-0 mx-0 text-left">
                    <ul>
                      <li class="py-2">
                        <i class="fa-solid fa-house fa-lg"></i>
                        <a href="" style="text-decoration: none;color:white"><span>Home</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="right-side h-100 d-inline-block w-85">
              
        
