<nav class="navbar navbar-light sticky-top d-flex" style="justify-content:flex-end;background-color:rgb(31 31 31)">
   <div class="mx-3">
      <a href="/premium/upgrade" role="button" class="btn btn-outline-dark" style="font-weight:bold;color:rgb(31 223 100);border: 2px solid">Upgrade</a>
   </div>5
</nav>
 